<%= erb :header %>

<div class="container">
    <div class="pull-right" style="margin-top: 15px;">
        <a href="/competitions/<%= @competition.id %>/new_match" class="btn btn-success btn-small">
            <i class="icon-white icon-plus-sign"></i> New Match
        </a>
    </div>
    <h3><b><%= @competition.name %> <%= @competition.year %> - All Match Data</b></h3>
    <%= erb :data_list, :locals => { :matches => Match.where(:comp_id => @competition.id).order(@match_sort) } %>
</div>
<br>

<%= erb :footer %>
