<%= erb :header %>

<div class="container">
    <div class="row">
        <div class="span2">
            <h2>Teams at <%= @competition.name %> (<%= @competition.year %>)</h2>
        </div>
    </div>
    
    <div class="well">
        <% Team.each do |team| %>
                <% if DB.fetch("SELECT COUNT(*) FROM pit_scouting WHERE comp_id = ? AND team_number = ?;",
                        @competition.id, team.number).first[:"COUNT(*)"].to_i > 0 ||
                        DB.fetch("SELECT COUNT(*) FROM matches WHERE comp_id = ? AND team_number = ?;",
                         @competition.id, team.number).first[:"COUNT(*)"].to_i > 0 %>
                            <li><h4><a href="/competitions/<%= @competition.id %>/teams/<%= team.number %> "><%= team.number %></a></h4></li>
            <% end %>
        <% end %>
    </div>
</div>

<%= erb :footer %>
