<%= erb :header %>

<div class="container">
    <h3><b>Team <%= @team.number %> Stats</b></h3>

    <% if @match_sort.to_s == "match_number" %>
        <%= erb :data_list, :locals => { :matches => Match.where([[:comp_id, @competition.id], [:team_number, @team.number]]).order(Sequel.asc(@match_sort)) } %>
    <% else %>
        <%= erb :data_list, :locals => { :matches => Match.where([[:comp_id, @competition.id], [:team_number, @team.number]]).order(Sequel.desc(@match_sort)) } %>
    <% end %>
</div>

<%= erb :footer %>
